*
  box-sizing: border-box

.header, .footer, .breadcrumb
  max-width: 1180px
  min-width: 280px
  margin: auto

.header
  margin-bottom: 30px

.container-fluid
  max-width: 1180px
  min-width: 280px
  margin: 0 auto
